@import "../../talkopedia/css/theme.css";

@font-face {
    font-family: 'Ninja';
    src: url("../fonts/AssassinNinja-7BYyR.ttf") format("truetype");
}

.sub-heading, h2.page-title, .sub-heading-yellow {
    font-family: "Ninja" !important;
}

#home .page-content {
    padding-bottom: 350px;
}