@import "../../talkopedia/css/theme.css";

@font-face {
    font-family: 'Archivo';
    src: url("../fonts/Sweeter Sandwich.ttf") format("truetype");
}

@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Sweeter Sandwich.ttf") format("truetype");
}

.page-body, h3 span {
    font-size: 26pt !important;
}

.category-content {
    font-family: "Content";
}

.nav-item {
    font-size: 24pt;
}

.breadcrumb {
    font-size: 14pt;
}

.page-title p, .slogan p, h3 span, .sub-heading {
    padding: 15px 15px 8px 15px !important;
}