@import "../../talkopedia/css/theme.css";

.theme_animation {
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 14px -214.6666666667px #2b00ff, 114px -154.6666666667px #fbff00, -58px -17.6666666667px #6aff00, -134px -378.6666666667px #0044ff, -31px -394.6666666667px #a2ff00, -99px -308.6666666667px #ff3700, -235px -7.6666666667px #ea00ff, -175px -369.6666666667px #bb00ff, -6px -65.6666666667px #4400ff, -121px -108.6666666667px #ccff00, -103px -358.6666666667px #0084ff, -197px 7.3333333333px #80ff00, 115px 18.3333333333px #00ffc4, -227px -29.6666666667px #ff4000, -86px -58.6666666667px #2f00ff, 128px -224.6666666667px #ff0059, -36px 12.3333333333px #00a6ff, -156px -154.6666666667px #ff3c00, 69px -234.6666666667px #ff0091, -222px -33.6666666667px #006fff, -224px -301.6666666667px #00ffd5, -106px -230.6666666667px #00ff91, -29px -245.6666666667px #000dff, -26px -84.6666666667px #00ddff, 41px -226.6666666667px #ff0026, -157px -177.6666666667px #0077ff, -143px -363.6666666667px #ff6600, 132px -363.6666666667px #aeff00, -242px -338.6666666667px #aaff00, -163px 70.3333333333px #9d00ff, -14px 17.3333333333px #99ff00, -137px -155.6666666667px #ff0037, -224px -109.6666666667px #51ff00, 85px -342.6666666667px #ff000d, -227px -9.6666666667px #95ff00, 68px -25.6666666667px #00e6ff, 1px -13.6666666667px #ff6f00, -80px -199.6666666667px #0033ff, 233px -129.6666666667px #ffd500, 19px -110.6666666667px #2f00ff, 32px -91.6666666667px #c800ff, -77px -400.6666666667px #7bff00, 222px -58.6666666667px #0051ff, -131px -10.6666666667px #4dff00, -230px -41.6666666667px #7b00ff, -234px -232.6666666667px #00ff6a, 11px -164.6666666667px #7300ff, -115px -85.6666666667px #a200ff, -221px -165.6666666667px #d500ff, -174px -404.6666666667px #6fff00, 210px -151.6666666667px #c400ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 14px -214.6666666667px #2b00ff, 114px -154.6666666667px #fbff00, -58px -17.6666666667px #6aff00, -134px -378.6666666667px #0044ff, -31px -394.6666666667px #a2ff00, -99px -308.6666666667px #ff3700, -235px -7.6666666667px #ea00ff, -175px -369.6666666667px #bb00ff, -6px -65.6666666667px #4400ff, -121px -108.6666666667px #ccff00, -103px -358.6666666667px #0084ff, -197px 7.3333333333px #80ff00, 115px 18.3333333333px #00ffc4, -227px -29.6666666667px #ff4000, -86px -58.6666666667px #2f00ff, 128px -224.6666666667px #ff0059, -36px 12.3333333333px #00a6ff, -156px -154.6666666667px #ff3c00, 69px -234.6666666667px #ff0091, -222px -33.6666666667px #006fff, -224px -301.6666666667px #00ffd5, -106px -230.6666666667px #00ff91, -29px -245.6666666667px #000dff, -26px -84.6666666667px #00ddff, 41px -226.6666666667px #ff0026, -157px -177.6666666667px #0077ff, -143px -363.6666666667px #ff6600, 132px -363.6666666667px #aeff00, -242px -338.6666666667px #aaff00, -163px 70.3333333333px #9d00ff, -14px 17.3333333333px #99ff00, -137px -155.6666666667px #ff0037, -224px -109.6666666667px #51ff00, 85px -342.6666666667px #ff000d, -227px -9.6666666667px #95ff00, 68px -25.6666666667px #00e6ff, 1px -13.6666666667px #ff6f00, -80px -199.6666666667px #0033ff, 233px -129.6666666667px #ffd500, 19px -110.6666666667px #2f00ff, 32px -91.6666666667px #c800ff, -77px -400.6666666667px #7bff00, 222px -58.6666666667px #0051ff, -131px -10.6666666667px #4dff00, -230px -41.6666666667px #7b00ff, -234px -232.6666666667px #00ff6a, 11px -164.6666666667px #7300ff, -115px -85.6666666667px #a200ff, -221px -165.6666666667px #d500ff, -174px -404.6666666667px #6fff00, 210px -151.6666666667px #c400ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 14px -214.6666666667px #2b00ff, 114px -154.6666666667px #fbff00, -58px -17.6666666667px #6aff00, -134px -378.6666666667px #0044ff, -31px -394.6666666667px #a2ff00, -99px -308.6666666667px #ff3700, -235px -7.6666666667px #ea00ff, -175px -369.6666666667px #bb00ff, -6px -65.6666666667px #4400ff, -121px -108.6666666667px #ccff00, -103px -358.6666666667px #0084ff, -197px 7.3333333333px #80ff00, 115px 18.3333333333px #00ffc4, -227px -29.6666666667px #ff4000, -86px -58.6666666667px #2f00ff, 128px -224.6666666667px #ff0059, -36px 12.3333333333px #00a6ff, -156px -154.6666666667px #ff3c00, 69px -234.6666666667px #ff0091, -222px -33.6666666667px #006fff, -224px -301.6666666667px #00ffd5, -106px -230.6666666667px #00ff91, -29px -245.6666666667px #000dff, -26px -84.6666666667px #00ddff, 41px -226.6666666667px #ff0026, -157px -177.6666666667px #0077ff, -143px -363.6666666667px #ff6600, 132px -363.6666666667px #aeff00, -242px -338.6666666667px #aaff00, -163px 70.3333333333px #9d00ff, -14px 17.3333333333px #99ff00, -137px -155.6666666667px #ff0037, -224px -109.6666666667px #51ff00, 85px -342.6666666667px #ff000d, -227px -9.6666666667px #95ff00, 68px -25.6666666667px #00e6ff, 1px -13.6666666667px #ff6f00, -80px -199.6666666667px #0033ff, 233px -129.6666666667px #ffd500, 19px -110.6666666667px #2f00ff, 32px -91.6666666667px #c800ff, -77px -400.6666666667px #7bff00, 222px -58.6666666667px #0051ff, -131px -10.6666666667px #4dff00, -230px -41.6666666667px #7b00ff, -234px -232.6666666667px #00ff6a, 11px -164.6666666667px #7300ff, -115px -85.6666666667px #a200ff, -221px -165.6666666667px #d500ff, -174px -404.6666666667px #6fff00, 210px -151.6666666667px #c400ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 14px -214.6666666667px #2b00ff, 114px -154.6666666667px #fbff00, -58px -17.6666666667px #6aff00, -134px -378.6666666667px #0044ff, -31px -394.6666666667px #a2ff00, -99px -308.6666666667px #ff3700, -235px -7.6666666667px #ea00ff, -175px -369.6666666667px #bb00ff, -6px -65.6666666667px #4400ff, -121px -108.6666666667px #ccff00, -103px -358.6666666667px #0084ff, -197px 7.3333333333px #80ff00, 115px 18.3333333333px #00ffc4, -227px -29.6666666667px #ff4000, -86px -58.6666666667px #2f00ff, 128px -224.6666666667px #ff0059, -36px 12.3333333333px #00a6ff, -156px -154.6666666667px #ff3c00, 69px -234.6666666667px #ff0091, -222px -33.6666666667px #006fff, -224px -301.6666666667px #00ffd5, -106px -230.6666666667px #00ff91, -29px -245.6666666667px #000dff, -26px -84.6666666667px #00ddff, 41px -226.6666666667px #ff0026, -157px -177.6666666667px #0077ff, -143px -363.6666666667px #ff6600, 132px -363.6666666667px #aeff00, -242px -338.6666666667px #aaff00, -163px 70.3333333333px #9d00ff, -14px 17.3333333333px #99ff00, -137px -155.6666666667px #ff0037, -224px -109.6666666667px #51ff00, 85px -342.6666666667px #ff000d, -227px -9.6666666667px #95ff00, 68px -25.6666666667px #00e6ff, 1px -13.6666666667px #ff6f00, -80px -199.6666666667px #0033ff, 233px -129.6666666667px #ffd500, 19px -110.6666666667px #2f00ff, 32px -91.6666666667px #c800ff, -77px -400.6666666667px #7bff00, 222px -58.6666666667px #0051ff, -131px -10.6666666667px #4dff00, -230px -41.6666666667px #7b00ff, -234px -232.6666666667px #00ff6a, 11px -164.6666666667px #7300ff, -115px -85.6666666667px #a200ff, -221px -165.6666666667px #d500ff, -174px -404.6666666667px #6fff00, 210px -151.6666666667px #c400ff;
  }
}
@keyframes bang {
  to {
    box-shadow: 14px -214.6666666667px #2b00ff, 114px -154.6666666667px #fbff00, -58px -17.6666666667px #6aff00, -134px -378.6666666667px #0044ff, -31px -394.6666666667px #a2ff00, -99px -308.6666666667px #ff3700, -235px -7.6666666667px #ea00ff, -175px -369.6666666667px #bb00ff, -6px -65.6666666667px #4400ff, -121px -108.6666666667px #ccff00, -103px -358.6666666667px #0084ff, -197px 7.3333333333px #80ff00, 115px 18.3333333333px #00ffc4, -227px -29.6666666667px #ff4000, -86px -58.6666666667px #2f00ff, 128px -224.6666666667px #ff0059, -36px 12.3333333333px #00a6ff, -156px -154.6666666667px #ff3c00, 69px -234.6666666667px #ff0091, -222px -33.6666666667px #006fff, -224px -301.6666666667px #00ffd5, -106px -230.6666666667px #00ff91, -29px -245.6666666667px #000dff, -26px -84.6666666667px #00ddff, 41px -226.6666666667px #ff0026, -157px -177.6666666667px #0077ff, -143px -363.6666666667px #ff6600, 132px -363.6666666667px #aeff00, -242px -338.6666666667px #aaff00, -163px 70.3333333333px #9d00ff, -14px 17.3333333333px #99ff00, -137px -155.6666666667px #ff0037, -224px -109.6666666667px #51ff00, 85px -342.6666666667px #ff000d, -227px -9.6666666667px #95ff00, 68px -25.6666666667px #00e6ff, 1px -13.6666666667px #ff6f00, -80px -199.6666666667px #0033ff, 233px -129.6666666667px #ffd500, 19px -110.6666666667px #2f00ff, 32px -91.6666666667px #c800ff, -77px -400.6666666667px #7bff00, 222px -58.6666666667px #0051ff, -131px -10.6666666667px #4dff00, -230px -41.6666666667px #7b00ff, -234px -232.6666666667px #00ff6a, 11px -164.6666666667px #7300ff, -115px -85.6666666667px #a200ff, -221px -165.6666666667px #d500ff, -174px -404.6666666667px #6fff00, 210px -151.6666666667px #c400ff;
  }
}

@-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {@import "vars.css";
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  