@import "../../talkopedia/css/theme.css";

@font-face {
    font-family: 'UFO';
    src: url("../fonts/SfAlienEncounters-LAxn.ttf") format("truetype");
}

.sub-heading, h2.page-title, .sub-heading-yellow {
    font-family: "UFO" !important;
}

.page-body, h3 span {
    font-size: 20pt !important;
}

.category-content {
    font-family: "Content";
}

.nav-item {
    font-size: 18pt;
}

.page-title p, .slogan p, h3 span, .sub-heading {
    padding: 15px 15px 8px 15px !important;
}

.sub-heading {
    font-size: 22pt !important;
}